{{#each this}}
    <h1 class="title"><img class="icon" src="{{flags.svg}}" alt="flag">{{name}}</h1>
    <p class="key"><b class="value">Capital:</b> {{capital}}</p>
    <p class="key"><b class="value">Population:</b> {{population}}</p>
    <p class="key"><b class="value">Languages:</b> {{#each languages}}{{name}}, {{/each}}</p>
    <div id="testbutton"></div>
{{/each}}
    


